---
layout: default
published: true
---
<nav class="hide-on-large only">
    <ul id="slide-out" class="side-nav">
      <li class="bold">
        <a aria-label="Navigate to the About section" href="#about" class="waves-effect waves-dark teal-text"><i
            class="mdi-social-person small"></i><span>About</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Experience section" href="#experience"
          class="waves-effect waves-dark teal-text"><i
            class="mdi-action-trending-up small"></i><span>Experience</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Projects section" href="#projects" class="waves-effect waves-dark teal-text"><i
            class="mdi-av-my-library-books small"></i><span>Projects</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Skills section" href="#skills" class="waves-effect waves-dark teal-text"><i
            class="mdi-action-assessment small"></i><span>Skills</span></a>
      </li>

      <li class="bold">
        <a aria-label="Navigate to the Education section" href="#education" class="waves-effect waves-dark teal-text"><i
            class="mdi-social-school small"></i><span>Education</span></a>
      </li>
      <li class="bold">
        <a aria-label="Navigate to the Contact section" href="https://mhnabilcoder.github.io/blog/" class="waves-effect waves-dark teal-text"><i
            class="mdi-content-mail small"></i><span>Blog</span></a>
      </li>
      <li class="bold">
        <a aria-label="Nabil's Resume in a new tab"
          href="https://drive.google.com/file/d/1YnfOgUhasMZteaMGablFfEFXm-LETzBT/view?usp=share_link" target="_blank"
          class="waves-effect waves-dark teal-text"><i class="mdi-file-folder-open small"></i><span>Resume</span></a>
      </li>
    </ul>
  </nav>
